body {
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;

}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  border-bottom: 8px solid #4c4c4c; /*dark gray*/
  padding: 0 20px;
}

.page-header:hover {
  border-color: gray;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.header-nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-nav li a:hover {
  font-weight: 800;
}

li + li {
  margin-left: 20px;
}

.clicked {
  font-weight: 800;
}

h1 {
  margin-bottom: -20px;
}

.projects-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#project-1 {
  background-image: url(http://i.imgur.com/9vlHaRC.png);
}

#project-2 {
  background-image: url(http://i.imgur.com/9Vcjk4T.png);
}

#project-3 {
  background-image: url(http://i.imgur.com/oN14X0h.png);
}

.projects {
  background-position: center;
  background-size: cover;
  height: 320px;
  width: 320px;
  margin: 50px;
  border-radius: 600px;
  filter: grayscale(100%);
  border: 6px solid gray;
}

.projects:hover {
  filter: none;
  border-color: #4c4c4c; /*dark gray*/
}

@media screen and (max-width: 815px) {
  .page-header {
/*    background-color: red;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav {
    padding: 0;
  }
  .page-header ul li a{
    font-size: 15px;
    margin: 0;
  }
  .projects {
    filter: none;
  }
}
